@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: url('images.jfif') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden ;
}        

.row{
    width: 100%;
    padding: 0px 80px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar ul li{
    list-style: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: #fff;
}
.navbar h1{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
}
.content{
    width: 100%;
    min-height: 85vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-size: 35px;
    font-weight: 400;
}
.content p{
    font-size: 20px;
}
.content a{
    text-decoration:none;
    background-color: #fff;
    margin-top: 10px;
    font-size: 25px;
    padding: 12px 20px;
    color: #000000;
    
}


.about{
    width: 30%;
    min-height: 300vh;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction:column;
}
.about h1{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 400px;
    margin-left: 80px;
}    
.about p{
    font-size: 15px;
    margin-left: 80px;
}
.work{
    width: 100%;
    min-height: 300vh;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction:column;
}
.work h1{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 400px;
    margin-left: 500px;
}
.work p{
        font-size: 15px;
        margin-left: 770px;
}
.work a{
    text-decoration:none;
    margin-top: 10px;
    margin-left: 900px;
    font-size: 25px;
    text-transform: uppercase;
    padding: 12px 20px;
    color: #000000;
}
.work a:hover{
    background-color: #fff;
}
.image img{
     background-image: url(new.jpg);
     width: 250px;
     height: 180px;
     margin-left: 425px ;
     margin-top: 375px;
}
